@{
    ViewData["Title"] = "Home Page";
}

<select class="form-control" id="availableFiles">
</select>
<button style="position: absolute; top: 73px; right: 220px;" id="ShowButton" disabled onclick="AllUsers(); setFileToSessionStorage('file')" type="button" class="btn btn-primary">Show</button>

<div hidden id="searchBox">
    <input type="search" class="form-control" placeholder="Search..." id="datatable-search-input">
    <a href="/Users/Create" onclick="setFileToSessionStorage('file')" style="position: absolute; top: 112px; right: 224px;" id="CreateNewUserButton" type="button" class="btn btn-primary">New</a>
    <select id="selectedProperty" class="form-control" style="position: absolute; top: 111px; left: 135px; width: 150px;">
        <option>Id</option>
        <option>Name</option>
        <option>BirthDay</option>
        <option>Phone</option>
        <option>Married</option>
        <option>Salary</option>
    </select>
</div>

<table class="table">

    <thead>

        <tr>
            <th>
                <span onclick="SortBy('0','id')" id="idColumn">Id</span>
                <span hidden onclick="SortBy('1','idDesc')" id="idColumnDesc">Id</span>
            </th>
            <th>
                <span onclick="SortBy('2','name')" id="nameColumn">Name</span>
                <span hidden onclick="SortBy('3','nameDesc')" id="nameColumnDesc">Name</span>
            </th>
            <th>
                <span onclick="SortBy('4','birthDay')" id="birthDayColumn">BirthDay</span>
                <span hidden onclick="SortBy('5','birthDayDesc')" id="birthDayColumnDesc">BirthDay</span>
            </th>
            <th>
                <span onclick="SortBy('6','phone')" id="phoneColumn">Phone</span>
                <span hidden onclick="SortBy('7','phoneDesc')" id="phoneColumnDesc">Phone</span>
            </th>
            <th>
                <span onclick="SortBy('8','married')" id="marriedColumn">Married</span>
                <span hidden onclick="SortBy('9','marriedDesc')" id="marriedColumnDesc">Married</span>
            </th>
            <th>
                <span onclick="SortBy('10','salary')" id="salaryColumn">Salary</span>
                <span hidden onclick="SortBy('11','salaryDesc')" id="salaryColumnDesc">Salary</span>
            </th>
        </tr>
    </thead>
    <tbody id="UsersTable">
    </tbody>
</table>
<a href="/Home/DownloadCSV?fileName=Employees" id="DownloadCSV" type="button" class="btn btn-primary">Download csv</a>

@section scripts{
    <script>
        
       
        $(document).ready(function () {
            var availableFiles = $("#availableFiles");
            ShowAvailableFiles(availableFiles);
            setFileToSessionStorage("file");
            if (availableFiles.val() != "") {
                $("#ShowButton").removeAttr("disabled");
            }
            else {
                $("#ShowButton").attr("disabled", true);
            }

            var input = $("#input");
            var uploadedFile = null;
            var currentUsers = [];
            var table = $("#UsersTable");
            var formData = new FormData();
            availableFiles.change(function () {
                AllUsers();
                setFileToSessionStorage("file");
                var fileName = sessionStorage.getItem("file");
                $("#DownloadCSV").attr("href", `Home/DownloadCSV?fileName=${fileName}`);
            })
            $("#datatable-search-input").keyup(function () {
                var selectedSearchProperty = $("#selectedProperty").val();
                var searchValue = $(this).val();
                var fileName = $("#availableFiles").val();
                Search(selectedSearchProperty, searchValue, table, fileName);
            })
            $("#DownloadCSV").click(function () {
                var fileName = $("#availableFiles").val();
                $.ajax({
                    type: "POST",
                    url: `Home/DownloadCSV?fileName=${fileName}`,
                    success: function (json) {
                        if (json.message === "success") {
                            window.location.href = json.url;
                        };
                    }
                })
            });
            setFileToSessionStorage("file");

        })
        function setFileToSessionStorage(name) {
            var file = $("#availableFiles").val();
            sessionStorage.setItem(name, file);
        }
        function Search(by, value, table, fileName) {
            $.ajax({
                type: "POST",
                url: `/Home/FindUsersInFile?property=${by}&value=${value}&fileName=${fileName}`,
                success: function (json) {
                    table.html("");
                    ShowUsers(json.users, table);
                    currentUsers = json.users;
                }
            })
        }
        function SortBy(value, buttonName) {
            var SetData = $("#UsersTable");
            var fileName = sessionStorage.getItem("file");
            var searchValue = $("#datatable-search-input").val();
            var selectedSearchProperty = $("#selectedProperty").val();
            ChangeOrdering(buttonName);

            $.ajax({
                type: "GET",
                url: `/Home/Sort?search=${searchValue}&property=${selectedSearchProperty}&SortBy=${value}&fileName=${fileName}`,
                success: function (json) {
                    SetData.html("");
                    ShowUsers(json.users, SetData);
                }
            })
        }

        function AllUsers() {
            $("#searchBox").removeAttr("hidden");
            var data = $("#UsersTable");
            var fileName = $("#availableFiles").val();
            data.html("");
            $.ajax({
                type: "POST",
                url: `/Home/ShowUsersFromFile?fileName=${fileName}`,
                success: function (json) {
                    ShowUsers(json.users, data);
                }
            })
        }
        function ShowUsers(users, table) {
            $.each(users, function (index, value) {
                var data = `<tr>
                                <td>
                                    <span>${value.id}</span>
                                </td>
                                <td>
                                   <span>${value.name}</span>
                                </td>
                                 <td>
                                   <span>${value.convertedDateOfBirth}</span>
                                </td>
                                <td>
                                   <span>${value.phone}</span>
                                </td>
                                <td>
                                   <span>${value.married}</span>
                                </td>
                                 <td>
                                   <span>${value.salary}</span>
                                </td>
                                <td>
                                    <a href="/Users/Edit/${value.id}">Edit</a>
                                    <a href="/Users/Delete/${value.id}">Delete</a>
                                </td>
                            </tr>`;

                table.append(data);
            })
        }
        function ChangeOrdering(buttonName) {
            switch (buttonName) {
                case "id":
                    $("#idColumnDesc").removeAttr("hidden");
                    $("#idColumn").attr("hidden", true);
                    break;
                case "idDesc":
                    $("#idColumn").removeAttr("hidden");
                    $("#idColumnDesc").attr("hidden", true);
                    break;
                case "name":
                    $("#nameColumnDesc").removeAttr("hidden");
                    $("#nameColumn").attr("hidden", true);
                    break;
                case "nameDesc":
                    $("#nameColumn").removeAttr("hidden");
                    $("#nameColumnDesc").attr("hidden", true);
                    break;
                case "birthDay":
                    $("#birthDayColumnDesc").removeAttr("hidden");
                    $("#birthDayColumn").attr("hidden", true);
                    break;
                case "birthDayDesc":
                    $("#birthDayColumn").removeAttr("hidden");
                    $("#birthDayColumnDesc").attr("hidden", true);
                    break;
                case "phone":
                    $("#phoneColumnDesc").removeAttr("hidden");
                    $("#phoneColumn").attr("hidden", true);
                    break;
                case "phoneDesc":
                    $("#phoneColumn").removeAttr("hidden");
                    $("#phoneColumnDesc").attr("hidden", true);
                    break;
                case "married":
                    $("#marriedColumnDesc").removeAttr("hidden");
                    $("#marriedColumn").attr("hidden", true);
                    break;
                case "marriedDesc":
                    $("#marriedColumn").removeAttr("hidden");
                    $("#marriedColumnDesc").attr("hidden", true);
                    break;
                case "salary":
                    $("#salaryColumnDesc").removeAttr("hidden");
                    $("#salaryColumn").attr("hidden", true);
                    break;
                case "salaryDesc":
                    $("#salaryColumn").removeAttr("hidden");
                    $("#salaryColumnDesc").attr("hidden", true);
                    break;
                default:
            }

        }
        function ShowAvailableFiles(data) {
            $.ajax({
                type: "POST",
                url: "/Home/ShowAvailableFiles",
                success: function (json) {
                    $.each(json.files, function (index, value) {
                        var html = `<option>${value.fileName}</option>`;
                        data.append(html);
                    })
                    if(json.files.length<1)
                        $("#DownloadCSV").attr("href", "Home/DownloadCSV");
                    else $("#DownloadCSV").attr("href", "Home/DownloadCSV?fileName="+json.files[0].fileName);
                }
            })
        }
    </script>
}
